:each transaction in transactions
  .transaction
    %span.date= transaction.date
    %span.payee= transaction.payee
    .posts
      :each post in transaction.posts
        .post
          %span.account= post.account
          %div{ class: "amount #{negPosClass(post.amount)}" }
            %span.amount= post.amount
            %span.commodity= post.commodity
